# MCDungeon configuration file
#
# Remember that Minecraft measures coordinates like this:
# (X, Y, Z)
# X = North-South (negative X is North)
# Y = Down-Up (0=bottom of the world, 127=limit of the sky)
# Z = East-West (negative Z is East)

[dungeon]
# World coordinates of the NW corner of the most NW room (x,y,z)
# This is temporary until the site selection algorithm is working. 
# This is NOT the location of the entrance. 
# The entrance position will be chosen from a random room location.
# TODO: provide command line options for this?
# This does not currently check the bounds of the world to make sure the
# dungeon will fit. If you make the dungeon too deep, it will error out. 
offset: (-8,63,67)
# Tower height factor. The entry tower will be scaled by this amount. 
# This should be a positive number. 1.0 = the height of a single floor. 
# Make the tower taller so it's easier to find.
tower: 1.5
# Percentage of doors to be placed. 0=none, 100=all
doors: 50
# Percentage of portcullises to be placed. 
portcullises: 50
# Percentage of torches to be placed.
torches: 100
# Material to use for the walls
wall: Cobblestone
# Material to use for the ceiling
ceiling: Cobblestone
# Material to use for default floor
floor: Stone
# MultiVerse portal destination. 
# This will create a MultiVerse portal (CraftBukkit plugin) at the bottom of
# the dungeon pointing to the world set by this value. Set this to blank if you
# don't wan't a portal exit (players will have to climb out), or do not run
# MultiVerse.
mvportal: Dungeon 

# Feature lists. The following sections control the probablility of a
# particular feature showing up in the algorithm. Each  name is followed
# by a weight that determines the probability that feature  will be
# chosen relative to the others in the list. These numbers do NOT  need
# to add up to 100. They are only relative to each other. For example,
# a weight of 40 is twice as likely to be chosen as a weight of 20.
# These numbers are also not hard, they simply weight the probability
# of  the randomizer. A very low weight may still occasionally be chosen
# more  than a high weight, it's just unlikely. A weight of zero means
# that  feature will never be chosen.

# Room types. Basic room shape. 
# You should leave Blank zero unless you want sections of the dungeon 
# to be disconnected. 
[rooms]
Blank: 0
Basic: 55
Corridor: 25
Circular: 10
Pit: 10

# Hall types. Halls connect rooms.
# You should leave Blank zero unless you want sections of the dungeon 
# to be even more disconnected.
[halls]
Blank: 0
Single: 35
Double: 50
Triple: 10
Ten: 5

# Floor types. Floors modify the flooring of a room. 
# Blank leaves the floor as the floor block.
[floors]
Blank: 2
Cobble: 3
WoodTile: 1
CheckerRug: 2
DoubleSlab: 1
BrokenDoubleSlab: 3
Mud: 3
Sand: 3

# Feature types. Features fill or modify a room. 
# Blank is an ampty room. 
[features]
Blank: 70
Columns: 20
Chasm: 5
LavaChasm: 5
