# MCDungeon configuration file
#
# Remember that Minecraft measures coordinates like this:
# (X, Y, Z)
# X = North-South (negative X is North)
# Y = Down-Up (0=bottom of the world, 127=limit of the sky)
# Z = East-West (negative Z is East)

[dungeon]
# Minumum distance (in chunks) from the spawn chunk for the automatic
# placement algorithm. 
min_dist: 2
# Maximum distance (in chunks) from the spawn chunk. The actual max distance
# will be the minimum of this value or the edge of the world. 
max_dist: 10
# World coordinates of the NW corner of the most NW room (x,y,z)
# This overides the placement alorithm, and places a corner of the dungeon
# at this spot. 
# This is NOT the location of the entrance. 
# The entrance position will be chosen from a random room location.
# This does not currently check the bounds of the world to make sure the
# dungeon will fit. If you make the dungeon too deep, or too large 
# it will error out. 
#offset: (-72,55,158)
offset: 
# Tower height factor. The entry tower will be scaled by this amount. 
# This should be a positive number. 1.0 = the height of a single floor. 
# Make the tower taller so it's easier to find.
tower: 2.0
# Percentage of doors to be placed. 0=none, 100=all
doors: 25
# Percentage of portcullises to be placed. 
portcullises: 25
# Percentage of torches to be placed on a level. The frequency of torches will 
# be scaled between these two values from the top of the dungeon to the bottom. 
torches_top: 80
torches_bottom: 10
# This is the density of chests per 10 rooms per level, rounded up. 
# For example, a value of 2 will place five chests per level in a 5x5 dungeon.
# (25 rooms, 2 chests per 10 = 5 chests)
# 1 would place three chests per level in a 5x5 dungeon.
chests: 0.5
# Density of monster spawners placed per level
spawners: 1.0
# Chance of arrow traps. The is the percent change a hallway will contain
# an arrow trap. 
arrow_traps: 3
# Material to use for the walls
wall: Cobblestone
# Material to use for the ceiling
ceiling: Cobblestone
# Material to use for the default floor
floor: Stone
# Material to use for the default subfloor
subfloor: Bedrock
# MultiVerse portal destination. 
# This will create a MultiVerse portal (CraftBukkit plugin) at the bottom of
# the dungeon pointing to the world set by this value. Set this to blank if you
# don't wan't a portal exit (players will have to climb out), or if you do not
# run MultiVerse. This required MultiVerse's "signs" function. It has been 
# tested with MV 1.6.
#mvportal: World1 
mvportal: 

# Feature lists. The following sections control the probablility of a
# particular feature showing up in the algorithm. Each  name is followed
# by a weight that determines the probability that feature  will be
# chosen relative to the others in the list. These numbers do NOT  need
# to add up to 100. They are only relative to each other. For example,
# a weight of 40 is twice as likely to be chosen as a weight of 20.
# These numbers are also not hard, they simply weight the probability
# of  the randomizer. A very low weight may still occasionally be chosen
# more than a high weight, it's just unlikely. A weight of zero means
# that feature will never be chosen.

# Room types. Basic room shape. 
# You should leave Blank zero unless you want sections of the dungeon 
# to be disconnected. 
[rooms]
Blank: 0
Basic: 40
Corridor: 40
Circular: 10
Pit: 10

# Hall types. Halls connect rooms.
# You should leave Blank zero unless you want sections of the dungeon 
# to be even more disconnected.
[halls]
Blank: 0
Single: 1
Double: 1
Triple: 1
Four: 1
Ten: 1

# Floor types. Floors modify the flooring of a room. 
# Blank leaves the floor as the floor block.
[floors]
Blank: 2
Cobble: 1
BrokenCobble: 3
WoodTile: 1
CheckerRug: 1
BrokenCheckerRug: 3
DoubleSlab: 1
BrokenDoubleSlab: 3
Mud: 3
Sand: 3

# Feature types. Features fill or modify a room. 
# Blank is an empty room. 
[features]
Blank: 25
Columns: 25
Chasm: 5
LavaChasm: 5
River: 5
Pool: 5

# Mobs for monster spawners.
# There are some non-standard choices here. Choose these at your own
# risk. The may disappear from Minecraft in the future and who knows
# what that will do to old maps containing these entities. 
#
# "Monster" will spawn monsters that look like players. Unexpected and fun!
#
# "Slimes" doesn't work well, because they have special depth requirements. 
# "PigZombie" works, but they don't care about light level and are mostly
#     docile. They will fill up the mob queue quickly. 
# "Wolf" doesn't break, but doesn't usually spawn wolves either. Like
# slimes, wolves have special spawn requirements.
#
# This does not affect what critters will spawn naturally within 
# dark areas of the dungeon.
[mobs]
Creeper: 1
Skeleton: 5
Spider: 5
Zombie: 5
Monster: 1
Slime: 0
PigZombie: 0
Wolf: 0

# Loot tables. There are an arbitrary number of loot "tiers"
# Tier zero is used for any chests located above the ceiling of the topmost
# dungeon level. (like the tower) The highest numbered tier is used for a 
# single chest located at the bottom of the dungeon. All other chests are 
# picked from tier 1 to (n-1) depending on the level depth. Item names are
# taken from items.txt file. 
# 
# Lines are:
# Item Name: (chance to appear),(min),(max)

[tier0]
Torch: 100,5,20
Arrow: 100,5,30
Compass: 25,1,1
Wheat: 20,3,9
Raw Porkchop: 25,1,3
Cooked Porkchop: 15,1,2
Cookie: 20,1,16
Bow: 35,1,1
Stone Sword: 50,1,2
Stone Shovel: 50,1,1
Stone Pickaxe: 50,1,1
Stone Axe: 50,1,1
Leather Helmet: 50,1,2
Leather Chestplate: 50,1,2
Leather Leggings: 50,1,2
Leather Boots: 50,1,2

[tier1]
Torch: 100,5,20
Arrow: 100,5,30
Compass: 20,1,1
Wheat: 20,3,9
Raw Porkchop: 40,1,2
Cooked Porkchop: 30,1,1
Cookie: 30,1,16
Bow: 10,1,1
Bread: 25,1,1
Apple: 25,1,2
Stone Sword: 50,1,1
Stone Shovel: 50,1,1
Stone Pickaxe: 50,1,1
Stone Axe: 50,1,1
Leather Helmet: 50,1,1
Leather Chestplate: 50,1,1
Leather Leggings: 50,1,1
Leather Boots: 50,1,1

[tier2]
Torch: 100,15,40
Arrow: 100,15,40
Raw Porkchop: 33,1,2
Cooked Porkchop: 33,1,1
Cookie: 30,1,16
Bread: 25,1,1
Apple: 25,1,1
String: 30,1,10
Feather: 30,1,10
Gunpowder: 20,1,10
Fishing Rod: 20,1,1
Bow: 10,1,1
Iron Ingot: 30,1,10
Flint: 30,1,10
Rose Red: 10,1,5
Cactus Green: 10,1,5
Pink Dye: 10,1,5
Lime Dye: 10,1,5
Dandelion Yellow: 10,1,5
Bone Meal: 10,1,5
Leather Helmet: 50,1,1
Iron Chestplate: 50,1,1
Leather Leggings: 50,1,1
Iron Boots: 50,1,1

[tier3]
Torch: 100,15,40
Arrow: 100,15,40
Bread: 25,1,1
Raw Porkchop: 33,1,2
Cooked Porkchop: 33,1,2
Cookie: 30,1,16
Cake: 5,1,1
Apple: 25,1,1
Golden Apple: 5,1,1
String: 30,1,10
Feather: 30,1,10
Gunpowder: 20,1,10
Bow: 10,1,1
Fishing Rod: 20,1,1
Iron Ingot: 30,1,10
Flint: 30,1,10
Ink Sac: 10,1,5
Rose Red: 10,1,5
Cactus Green: 10,1,5
Light Gray Dye: 10,1,5
Gray Dye: 10,1,5
Pink Dye: 10,1,5
Lime Dye: 10,1,5
Dandelion Yellow: 10,1,5
Magenta Dye: 10,1,5
Orange Dye: 10,1,5
Bone Meal: 10,1,5
Iron Sword: 10,1,1
Iron Shovel: 10,1,1
Iron Pickaxe: 10,1,1
Iron Axe: 10,1,1
Iron Helmet: 10,1,1
Iron Chestplate: 10,1,1
Iron Leggings: 10,1,1
Iron Boots: 10,1,1

[tier4]
Gold Music Disc: 10,1,1
Green Music Disc: 10,1,1
Golden Apple: 25,1,2
Diamond: 40,1,10
Gold Ingot: 40,1,10
Iron Ingot: 40,1,10
Clay Brick: 40,1,20
Saddle: 25,1,1
Clock: 25,1,1
Mushroom Stew: 10,1,2
Ink Sac: 10,1,10
Rose Red: 10,1,10
Cactus Green: 10,1,10
Cocoa Beans: 10,1,10
Lapis Lazuli: 10,1,10
Purple Dye: 10,1,10
Cyan Dye: 10,1,10
Light Gray Dye: 10,1,10
Gray Dye: 10,1,10
Pink Dye: 10,1,10
Lime Dye: 10,1,10
Dandelion Yellow: 10,1,10
Light Blue Dye: 10,1,10
Magenta Dye: 10,1,10
Orange Dye: 10,1,10
Bone Meal: 10,1,10
Diamond Sword: 25,1,1
Diamond Shovel: 25,1,1
Diamond Pickaxe: 25,1,1
Diamond Axe: 25,1,1
Diamond Helmet: 25,1,1
Diamond Chestplate: 25,1,1
Diamond Leggings: 25,1,1
Diamond Boots: 25,1,1
