# MCDungeon configuration file
#
# This prodiuce more confusing mazes
#
[dungeon]
loops: 40
min_dist: 0
max_dist: 20
maximize_distance: True
offset: 
force_bury: False
tower: 2.0
ruin_ruins: True
doors: 25
portcullises: 25
portcullis_closed: 10
portcullis_web: 10
torches_top: 80
torches_bottom: 10
torches_position: 3
chests: 0.5
spawners: 1.0
hidden_spawners: false
boost_spawners: false
arrow_traps: 3
arrow_trap_defects: 2
hall_piston_traps: 50
resetting_hall_pistons: True
skeleton_balconies: 80
sand_traps: 60
hard_mode: false
wall: meta_stonedungeon
secret_door: meta_stonedungeon
ceiling: meta_mossycobble
floor: stone
subfloor: bedrock
exit_portal: true
structures: Torch, Glass, Wooden Door Block, Redstone Torch, Redstone Torch Off, Glowstone Block, Portal
secret_rooms: 75
maps: 80
mapstore:
silverfish: 65

[rooms]
Basic: 10
Basic2x2: 0
Corridor: 0
Circular: 10
Pit: 10
CircularPit: 10
SandstoneCavern: 50
SandstoneCavernLarge: 100
NaturalCavern: 50
NaturalCavernLarge: 100
Cavern: 50
CavernLarge: 100

[halls]
Single: 10
Double: 10
Triple: 10
Four: 10
Ten: 10

[floors]
Blank: 20
Cobble: 10
BrokenCobble: 30
WoodTile: 10
MixedWoodTile: 10
CheckerRug: 10
BrokenCheckerRug: 30
DoubleSlab: 10
BrokenDoubleSlab: 30
Mud: 30
Sand: 30
StoneBrick: 10
BrokenStoneBrick: 30

[features]
Arcane: 10
Blank: 10
Cell: 10
Chapel: 10
CircleOfSkulls: 5
ConstructionArea: 10
Columns: 30
Chasm: 10
Dais: 10
Farm: 10
Forge: 10
LavaChasm: 10
Mushrooms: 10
Pool: 10
River: 10
MessHall: 10

[stairwells]
Scaffolding: 10
Stairwell: 10
TripleStairs: 10
TowerWithLadder: 10

[secret rooms]
SecretAlchemyLab: 10
SecretSepulchure: 10
SecretStudy: 10

[ruins]
Blank: 30
HouseFrame: 10
CircularTower: 10
SquareTower: 10
Arches: 10

[entrances]
SquareTowerEntrance: 20
RuinedSquareTowerEntrance: 20
#SquareTowerEntranceStoneBrick: 10
#RuinedSquareTowerEntranceStoneBrick: 10
#SquareTowerEntranceCobble: 10
#RuinedSquareTowerEntranceCobble: 10

RoundTowerEntrance: 20
RuinedRoundTowerEntrance: 20
#RoundTowerEntranceStoneBrick: 10
#RuinedRoundTowerEntranceStoneBrick: 10
#RoundTowerEntranceCobble: 10
#RuinedRoundTowerEntranceCobble: 10

StepPyramid: 10
EvilRunestones: 10
RuinedFane: 10

[treasure rooms]
Arena: 10
Crypt: 30
PitWithArchers: 10
ThroneRoom: 30
SpiderLair: 10
EndPortal: 20

[mobs.0]
Bat: 10
Spider: 10
Zombie: 10

[mobs.1]
Skeleton: 10
Spider: 10
Zombie: 10

[mobs.2]
Skeleton: 30
Spider: 30
Zombie: 30
Creeper: 10
CaveSpider: 10

[mobs.3]
Creeper: 20
Silverfish: 1
Skeleton: 40
Spider: 40
CaveSpider: 20
LavaSlime: 20
WitherSkeleton: 10
Zombie_Strong: 10
Zombie_Fast: 10
Zombie_Villager: 10
Chargedcreeper: 1
Zombie: 40
Skeleton_Armored_Axe_Iron: 10
Skeleton_Armored_Sword_Iron: 10
Skeleton_Armored_Sword_Leather: 10

[mobs.4]
Zombie_Strong: 10
Zombie_Fast: 10
WitherSkeleton: 10
CustomKnight: 10
Chargedcreeper: 1
Angrypig: 10
Skeleton: 10
Blaze: 10
Silverfish: 10
Skeleton_Armored_Axe_Iron: 10
Skeleton_Armored_Sword_Iron: 10
Skeleton_Armored_Sword_Leather: 10

[dispensers]
Arrow: 20,3
Fire Charge: 20,2
Spawn Blaze: 1,1
Splash Potion of Poison: 5,1
Splash Potion of Poison II:1,1
Splash Potion of Weakness:5,1
Splash Potion of Weakness II:1,1
Splash Potion of Slowness:5,1
Splash Potion of Slowness II:1,1
Splash Potion of Harming:5,1
Splash Potion of Harming II:1,1

[tier0]
Torch: 100,5-20,0
Arrow: 100,5-30,0
Compass: 25,1-1,0
Bowl: 90,1-2,0
Wheat: 20,3-9,0
Brown Mushroom: 50,1-3,0
Red Mushroom: 50,1-3,0
Bread: 100,1-3,0
Bow: 35,1,0
Stone Sword: 90,1-2,0
Stone Shovel: 50,1,0
Stone Pickaxe: 80,1,0
Stone Axe: 50,1,0
Leather Helmet: 50,1-2,0
Leather Chestplate: 50,1-2,0
Leather Leggings: 50,1-2,0
Leather Boots: 50,1-2,0
Bow,Wooden Sword,Stone Sword,Wooden Axe,Stone Axe,Wooden Pickaxe,Stone Pickaxe: 20,1,1-5
Leather Helmet,Leather Chestplate,Leather Leggings,Leather Boots: 20,1,1-5

[tier1]
Torch: 100,5-20,0
Arrow: 100,5-30,0
Compass: 20,1-1,0
Wheat: 50,3-9,0
Brown Mushroom: 50,1-3,0
Red Mushroom: 50,1-3,0
Cooked Fish: 20,1-2,0
Bow: 10,1-1,0
Bread: 25,1-1,0
Apple: 25,1-2,0
Pumpkin Pie: 10,1-1,0
Stone Sword: 50,1-1,0
Stone Shovel: 50,1-1,0
Stone Pickaxe: 50,1-1,0
Stone Axe: 50,1-1,0
Leather Helmet: 50,1-1,0
Leather Chestplate: 50,1-1,0
Leather Leggings: 50,1-1,0
Leather Boots: 50,1-1,0
Bottle o' Enchanting: 10,1-5,0

[tier2]
Torch: 100,15-40,0
Arrow: 100,15-40,0
Wheat: 50,3-9,0
Brown Mushroom: 50,1-3,0
Red Mushroom: 50,1-3,0
Cooked Fish: 20,1-2,0
Apple: 25,1-1,0
Pumpkin Pie: 10,1-1,0
String: 30,1-10,0
Feather: 30,1-10,0
Gunpowder: 20,1-10,0
Fishing Rod: 20,1-1,0
Bow: 10,1-1,0
Iron Ingot: 30,1-10,0
Flint: 30,1-10,0
Rose Red: 10,1-5,0
Cactus Green: 10,1-5,0
Pink Dye: 10,1-5,0
Lime Dye: 10,1-5,0
Dandelion Yellow: 10,1-5,0
Bone Meal: 10,1-5,0
Chainmail Helmet: 30,1-1,0
Chainmail Chestplate: 30,1-1,0
Chainmail Leggings: 30,1-1,0
Chainmail Boots: 30,1-1,0
Bottle o' Enchanting: 20,1-5,0
Emerald: 10,1-5,0

[tier3]
Torch: 100,15-40,0
Arrow: 100,15-40,0
Wheat: 50,3-9,0
Brown Mushroom: 50,1-3,0
Red Mushroom: 50,1-3,0
Cooked Fish: 20,1-2,0
Apple: 25,1-1,0
Pumpkin Pie: 10,1-1,0
Golden Apple: 5,1-1,0
String: 30,1-10,0
Feather: 30,1-10,0
Pumpkin Seeds: 15,1-1,0
Melon Seeds: 15,1-1,0
Carrot: 10,1-2,0
Potato: 10,1-2,0
Gunpowder: 20,1-10,0
Bow: 10,1-1,0
Fishing Rod: 20,1-1,0
Iron Ingot: 30,1-10,0
Flint: 30,1-10,0
Ink Sac: 10,1-5,0
Rose Red: 10,1-5,0
Cactus Green: 10,1-5,0
Light Gray Dye: 10,1-5,0
Gray Dye: 10,1-5,0
Pink Dye: 10,1-5,0
Lime Dye: 10,1-5,0
Dandelion Yellow: 10,1-5,0
Magenta Dye: 10,1-5,0
Orange Dye: 10,1-5,0
Bone Meal: 10,1-5,0
Iron Sword: 10,1-1,0
Iron Shovel: 10,1-1,0
Iron Pickaxe: 10,1-1,0
Iron Axe: 10,1-1,0
Iron Helmet: 10,1-1,0
Iron Chestplate: 10,1-1,0
Iron Leggings: 10,1-1,0
Iron Boots: 10,1-1,0
Bottle o' Enchanting: 25,1-5,0
Potion of Regeneration,Potion of Swiftness,Splash Potion of Swiftness,Potion of Fire Resistance,Splash Potion of Fire Resistance,Potion of Healing,Splash Potion of Healing,Potion of Strength,Splash Potion of Strength,Potion of Night Vision,Potion of Invisibility: 25,1,0
Emerald: 20,1-5,0


[tier4]
Music Disc 13,Music Disc cat,Music Disc blocks,Music Disc chrip,Music Disc far,Music Disc mall,Music Disc mellohi,Music Disc stal,Music Disc strad,Music Disc ward,Music Disc 11,Music Disc wait: 10,1-1,0
Music Disc cat,Music Disc blocks,Music Disc chrip,Music Disc far,Music Disc mall,Music Disc mellohi,Music Disc stal,Music Disc strad,Music Disc ward,Music Disc 11,Music Disc wait,Music Disc 13: 10,1-1,0
Golden Apple: 25,1-2,0
Enchanted Golden Apple: 5,1-1,0
Glistering Melon,Golden Carrot: 10,1-5,0
Diamond: 40,1-10,0
Pumpkin Seeds: 15,1-1,0
Melon Seeds: 15,1-1,0
Carrot: 20,1-5,0
Potato: 20,1-5,0
Gold Ingot: 40,1-10,0
Iron Ingot: 40,1-10,0
Clay Brick: 40,1-20,0
Saddle: 25,1-1,0
Clock: 25,1-1,0
Ink Sac: 10,1-10,0
Rose Red: 10,1-10,0
Cactus Green: 10,1-10,0
Cocoa Beans: 10,1-10,0
Lapis Lazuli: 10,1-10,0
Purple Dye: 10,1-10,0
Cyan Dye: 10,1-10,0
Light Gray Dye: 10,1-10,0
Gray Dye: 10,1-10,0
Pink Dye: 10,1-10,0
Lime Dye: 10,1-10,0
Dandelion Yellow: 10,1-10,0
Light Blue Dye: 10,1-10,0
Magenta Dye: 10,1-10,0
Orange Dye: 10,1-10,0
Bone Meal: 10,1-10,0
Ender Pearl: 25,1-2,0
Diamond Sword: 25,1-1,0
Diamond Shovel: 25,1-1,0
Diamond Pickaxe: 25,1-1,0
Diamond Axe: 25,1-1,0
Diamond Helmet: 25,1-1,0
Diamond Chestplate: 25,1-1,0
Diamond Leggings: 25,1-1,0
Diamond Boots: 25,1-1,0
Enchanted Book,Bow,Iron Sword,Diamond Sword,Gold Sword,Iron Axe,Diamond Axe,Gold Axe,Iron Pickaxe,Diamond Pickaxe,Gold Pickaxe,Iron Shovel,Diamond Shovel,Gold Shovel: 75,1,level*4
Iron Helmet,Diamond Helmet,Gold Helmet,Iron Chestplate,Diamond Chestplate,Gold Chestplate,Iron Leggings,Diamond Leggings,Gold Leggings,Iron Boots,Diamond Boots,Gold Boots: 75,1,level*4
Spawn Bat: 10,1-2,0
Spawn Blaze: 10,1-2,0
Spawn Cave Spider: 10,1-2,0
Spawn Chicken: 10,1-2,0
Spawn Cow: 10,1-2,0
Spawn Creeper: 10,1-2,0
Spawn Enderman: 10,1-2,0
Spawn Ghast: 10,1-2,0
Spawn Magma Cube: 10,1-2,0
Spawn Mooshroom: 10,1-2,0
Spawn Pig Zombie: 10,1-2,0
Spawn Pig: 10,1-2,0
Spawn Skeleton: 10,1-2,0
Spawn Sheep: 10,1-2,0
Spawn Silverfish: 10,1-2,0
Spawn Slime: 10,1-2,0
Spawn Spider: 10,1-2,0
Spawn Squid: 10,1-2,0
Spawn Villager: 10,1-2,0
Spawn Witch: 10,1-2,0
Spawn Wolf: 10,1-2,0
Spawn Zombie: 10,1-2,0
Spawn Ocelot: 10,1-2,0
Bottle o' Enchanting: 30,1-5,0
Potion of Regeneration II,Splash Potion of Regeneration II,Potion of Swiftness II,Splash Potion of Swiftness II,Potion of Healing II,Splash Potion of Healing II,Potion of Strength II,Splash Potion of Strength II,Extended Potion of Night Vision,Extended Potion of Invisibility: 50,1,0
Emerald: 30,1-5,0
Written Book: 30,1-2,0
magic_Book of The High Priestess,magic_Book of The Fool,magic_Book of The Chariot,magic_Book of The Fates,magic_Book of Temperance,magic_Book of The Empress,magic_Book of The Emperor,magic_Book of Justice,magic_Book of Death,magic_Book of The Hierophant,magic_Book of The Moon,magic_Book of Strength,magic_Book of The Devil,magic_Book of The Hanged Man,magic_Book of The Hermit,magic_Book of The Lovers,magic_Book of The Star,magic_Book of The Sun,magic_Book of The Tower,magic_Book of Judgement,magic_Book of The Magician,magic_Book of The World:35,1,0
file_firework_classic,file_firework_creeper,file_firework_festive,file_firework_golden,file_firework_patriot,file_firework_pineapple,file_firework_princess,file_firework_shower,file_firework_smoke: 25,5-15,0
magic_Fortune Cookie:10,1-2,0
magic_Smitten,magic_Ulfberht,magic_Durendal,magic_Caladbolg,magic_Dyrnwyn,magic_Excalibur,magic_Fragarach,magic_Gram,magic_Harpe,magic_Kusanagi,magic_Skofnung,magic_Tyrfing: 20,1,0
magic_Marlin Saber:1,1,0
magic_Flame Armour:1,1,0
