# MCDungeon configuration file
#
# Remember that Minecraft measures coordinates like this:
# (X, Y, Z)
# X = North-South (positive X is South)
# Y = Down-Up (0=bottom of the world, 127=limit of the sky)
# Z = East-West (positive Z is West)

[dungeon]
# This is the percentage of loops in the dungeon. At 0%, each level of 
# the dungeon will be nearly linear, with a few branches, but never 
# any loops. At 100% you will basically get a grid with every room connected
# all of its neighbors. For best results, keep this < 30%. 
# Note that certain room types (rooms larger than 1 tile) will also affect
# the number of possible loops in a level.
loops: 5
 
# Minimum distance (in chunks) from the spawn chunk for the automatic
# placement algorithm. 
min_dist: 0

# Maximum distance (in chunks) from the spawn chunk. The actual max distance
# will be the minimum of this value or the edge of the world. 
max_dist: 16

# This will attempt to place multiple dungeons as far away form each other as
# possible given the min/max values above. Setting this to False will ignore
# distances between dungeons when selecting a location, and give a higher
# probability of two dungeons appearing right next to each other.
maximize_distance: True

# World coordinates of the NW corner of the most NW room (x,y,z)
# This overrides the placement algorithm, and places a corner of the dungeon
# at this spot. 
#
# This is NOT the location of the entrance. 
# The entrance position will be chosen from a random room location, unless
# you use the --entrance option. 
#
# This does not currently check the bounds of the world to make sure the
# dungeon will fit. If you make the dungeon too deep, or too large 
# it will error out. 
#
# Use the --bury option to force the tool to calculate Y (height) value.
#offset: (-72,55,158)
offset: 

# Tower height factor. Some entry towers will be scaled by this amount. 
# This should be a positive number. 1.0 = the height of a single floor. 
# Make the tower taller so it's easier to find.
tower: 2.0

# Percent chance the tower will be ruined. Set this to zero to disable the
# effect. It's recommended to keep the tower height factor >= 2.0 when using
# this feature. 
tower_ruin: 80

# Setting this to False will turn off any attempt to ruin towers and surface 
# buildings. Useful if you want to run a tool like Commander Keen's Teeth 
# of Time tool.
# http://www.minecraftforum.net/topic/269176-
# This overrides the tower_ruin value above. 
ruin_ruins: True

# Percentage of doors to be placed. 0=none, 100=all
doors: 25

# Percentage of portcullises to be placed, and percentage that are closed.
portcullises: 25
portcullis_closed: 5
# Percentage of placed portcullises that are webs instead.
portcullis_web: 5

# Percentage of torches to be placed on a level. The frequency of torches will 
# be scaled between these two values from the top of the dungeon to the bottom. 
torches_top: 80
torches_bottom: 10
# Position of torches on the walls. 1=low, 2=middle, 3=high
torches_position: 3

# This is the density of chests per 10 rooms per level, rounded up. 
# For example, a value of 2 will place five chests per level in a 5x5 dungeon.
# (25 rooms, 2 chests per 10 = 5 chests)
# 1 would place three chests per level in a 5x5 dungeon.
chests: 0.5

# Density of monster spawners placed per level
spawners: 1.0

# Hard mode will fill in caves under and around the dungeon in an
# attempt to concentrate random monster spawns inside the dungeon. In
# most cases this will result in many more mobs in the dungeon during
# the daytime.
hard_mode: false

# MultiVerse portal destination. 
# This will create a MultiVerse portal (CraftBukkit plugin) at the bottom of
# the dungeon pointing to the world set by this value. Set this to blank if you
# don't want a portal exit (players will have to climb out), or if you do not
# run MultiVerse. This requires MultiVerse's "signs" function. It has been 
# tested with MV 1.6.2.
#mvportal: World1 
mvportal: 

# Player structure detection
# This is a list of blocks that are considered to be player structures.
# Any chunks that contain these types of blocks will be excluded from the 
# location algorithm. By default, these are essentially light sources. The 
# thought being that any structures you care about will be lit. 
#
# This list will shortcut at the first match, (ie: once a block matches, we
# won't bother checking the rest) so for maximum efficiency, order this by 
# most common blocks first. The more blocks you list here the slower the 
# initial terrain pass will be. 
#
# These names should match the names in items.txt. To disable this feature,
# just leave this blank. 
structures: Torch, Glass, Redstone Torch, Redstone Torch Off, Glowstone Block, Portal

# Secret rooms. Secret rooms have quite a few restrictions, so set this high
# if you want to see them. In general they will only appear in 1x1x1 rooms
# that have one hallway connected.
secret_rooms: 75


### Materials
#
# Set the materials to use for walls, secret doors, ceilings, floors and
# subfloors here. You can chose most blocks in items.txt, just remove any
# spaces. You can also chose form a variety of "meta materials" that change
# according to position and depth. 
#
# meta_mossycobble: Cobblestone with veins of moss. 
#
# meta_mossystonebrick: Stone bricks with random cracks and veins of moss.
#
# meta_stonedungeon: Changes as you go deeper. Starts as something like mossy
#                    stone bricks and turns to cobble and mossy cobble as
#                    levels get deeper. 
#
###############################################################################

# Material to use for the walls
wall: meta_stonedungeon

# Material to use for the secret doors
secret_door: meta_stonedungeon

# Material to use for the ceiling
ceiling: meta_mossycobble

# Material to use for the default floor
floor: stone

# Material to use for the default subfloor
subfloor: bedrock

### Trap settings 
#
###############################################################################

# Chance of arrow traps. The is the percent chance a hallway will contain
# an arrow trap. Defects adjusts the frequency of exploding arrow traps.
arrow_traps: 3
arrow_trap_defects: 2

# Hallway piston traps. Percent chance that certain halls will contain piston
# traps. To qualify, a hall must be 1-2 blocks wide, at least 8 blocks long,
# and be offset from the edge of the tile by a certain amount, depending on
# the width of the hall. This is fairly rare, so a high value here is
# recommended for best results. 
hall_piston_traps: 60
# This makes hall piston traps reset themselves.
resetting_hall_pistons: True

# Skeleton balconies. Skeleton balconies appear in tall circular pit rooms.
# This is the percent chance a balcony will appear if the conditions are right.
# These only appear in pit rooms >= 3 deep and have two adjacent halls.
skeleton_balconies: 65

# This is the chance certain pit rooms will be rigged with falling sand traps.
# There are a number of restrictions on which rooms can contain these, so 
# setting this fairly high will still result in relatively few rooms,
# depending on your config file. 
# To contain a sand trap a pit room but be > 1 level high, and connecting
# halls must be narrower than two blocks. In addition, only the top most level
# in a pit can contain a sand trap.
sand_traps: 60

# Silverfish. This is the percent chance any stone, cobblestone, or stone
# brick block will be replaced with a silverfish equivalent. You can use this
# to discourage tunneling through walls and floors (if your walls and floors
# are mode of stone, cobblestone, or brick)
silverfish: 10

### Feature Lists 
#
###############################################################################

# The following sections control the probability of a
# particular feature showing up in the algorithm. Each  name is followed
# by a weight that determines the probability that feature  will be
# chosen relative to the others in the list. These numbers do NOT  need
# to add up to 100. They are only relative to each other. For example,
# a weight of 40 is twice as likely to be chosen as a weight of 20.
# These numbers are also not hard, they simply weight the probability
# of  the randomizer. A very low weight may still occasionally be chosen
# more than a high weight, it's just unlikely. A weight of zero means
# that feature will never be chosen.

# Room types. Basic room shape. 
[rooms]
Basic: 240
Basic2x2: 80
Corridor: 240
Circular: 240
Pit: 40
CircularPit: 40
SandstoneCavern: 0
SandstoneCavernLarge: 10
NaturalCavern: 0
NaturalCavernLarge: 10
Cavern: 0
CavernLarge: 10
CellBlock: 40
GreatHallNS: 30
GreatHallEW: 30

# Hall types. Halls connect rooms.
[halls]
Single: 20
Double: 20
Triple: 10
Four: 10
Ten: 10

# Floor types. Floors modify the flooring of a room. 
# Blank leaves the floor as the floor block.
[floors]
Blank: 20
Cobble: 10
BrokenCobble: 30
WoodTile: 10
CheckerRug: 10
BrokenCheckerRug: 30
DoubleSlab: 10
BrokenDoubleSlab: 30
Mud: 30
Sand: 30
StoneBrick: 10
BrokenStoneBrick: 30

# Feature types. Features fill or modify a room. 
# Blank is an empty room. 
[features]
Arcane: 20
Blank: 50
Columns: 70
Chasm: 20
Dais: 30
Forge: 20
LavaChasm: 20
Mushrooms: 20
Pool: 30
River: 20

# Ruin types. Ruins are created on the surface. To disable ruins, just make
# "Blank" 1 and the rest zero.
[ruins]
Blank: 40
CircularTower: 20
SquareTower: 20
Arches: 10

# Entrances. These are placed on the surface over the entrance room. 
[entrances]
SquareTowerEntrance: 10
RuinedSquareTowerEntrance: 10
RoundTowerEntrance: 10
RuinedRoundTowerEntrance: 10
SquareTowerEntranceStoneBrick: 10
RuinedSquareTowerEntranceStoneBrick: 10
RoundTowerEntranceStoneBrick: 10
RuinedRoundTowerEntranceStoneBrick: 10
StepPyramid: 10
EvilRunestones: 30

# Treasure rooms. A unique room at the bottom of the dungeon, usually
# containing the top tier treasure.
[treasure rooms]
Arena: 10
Crypt: 30
PitWithArchers: 10
ThroneRoom: 30
SpiderLair: 10
EndPortal: 20

# Mobs for monster spawners.
# There are some non-standard choices here. Choose these at your own
# risk. They may disappear from Minecraft in the future and who knows
# what that will do to old maps containing these entities. 
#
# "Slimes" doesn't work well, because they have special depth and chunk
# location requirements. Often, you won't get any slimes at all.
#
# "PigZombie" works, but they don't care about light level and are mostly
# docile. They will fill up the mob queue quickly. 
#
# "Wolf" doesn't break, but doesn't usually spawn wolves either. Like
# slimes, wolves have special spawn requirements.
#
# "Ghast" works, but they need a lot of room to move around. The standard
# rooms and corridors are usually too small.
#
# This does not affect what critters will spawn naturally within 
# dark areas of the dungeon.
[mobs]
Blaze: 0
CaveSpider: 50
Creeper: 10
Enderman: 0
Ghast: 0
PigZombie: 0
Silverfish: 0
Skeleton: 50
Slime: 0
Spider: 50
Wolf: 0
Zombie: 50

### Loot Tables 
#
###############################################################################

# There are an arbitrary number of loot "tiers"
# Tier zero is used for any chests located above the ceiling of the topmost
# dungeon level. (like the tower) The highest numbered tier is used for a 
# single chest located at the bottom of the dungeon. All other chests are 
# picked from tier 1 to (n-1) depending on the level depth. Item names are
# taken from items.txt file. 
# 
# Lines are:
# Item Name(s): (chance to appear),(min-max),(enchantment)
#
# Where:
# (chance to appear) = Percent change to appear. ie: 1-100
# (min-max) = number, or range. ie: 4 or 10-20
# (enchant) = Enchant level for items, or potion data for potions.
#             Can be a number, range, or level*number to scale with levels. 
#
# Examples:
#
# 100% chance of 5-20 torches:
# Torch: 100,5-20
#
# 50% chance of an iron, gold, or diamond level 20 sword:
# Iron Sword,Gold Sword,Diamond Sword: 50,1,20
#
# 20% chance of a stone pickaxe with a level*3.5 enchantment.
# (Level 1 =  level 3 enchant, level 9 = level 31 enchant.)
# Stone Pickaxe: 20,1,level*3.5

[tier0]
Torch: 100,5-20,0
Arrow: 100,5-30,0
Compass: 25,1-1,0
Bowl: 90,1-2,0
Wheat: 20,3-9,0
Brown Mushroom: 50,1-3,0
Red Mushroom: 50,1-3,0
Bread: 100,1-3,0
Bow: 35,1,0
Stone Sword: 90,1-2,0
Stone Shovel: 50,1,0
Stone Pickaxe: 80,1,0
Stone Axe: 50,1,0
Leather Helmet: 50,1-2,0
Leather Chestplate: 50,1-2,0
Leather Leggings: 50,1-2,0
Leather Boots: 50,1-2,0
Bow,Wooden Sword,Stone Sword,Wooden Axe,Stone Axe,Wooden Pickaxe,Stone Pickaxe: 20,1,1-5
Leather Helmet,Leather Chestplate,Leather Leggings,Leather Boots: 20,1,1-5

[tier1]
Torch: 100,5-20,0
Arrow: 100,5-30,0
Compass: 20,1-1,0
Wheat: 50,3-9,0
Brown Mushroom: 50,1-3,0
Red Mushroom: 50,1-3,0
Cooked Fish: 20,1-2,0
Bow: 10,1-1,0
Bread: 25,1-1,0
Apple: 25,1-2,0
Stone Sword: 50,1-1,0
Stone Shovel: 50,1-1,0
Stone Pickaxe: 50,1-1,0
Stone Axe: 50,1-1,0
Leather Helmet: 50,1-1,0
Leather Chestplate: 50,1-1,0
Leather Leggings: 50,1-1,0
Leather Boots: 50,1-1,0

[tier2]
Torch: 100,15-40,0
Arrow: 100,15-40,0
Wheat: 50,3-9,0
Brown Mushroom: 50,1-3,0
Red Mushroom: 50,1-3,0
Cooked Fish: 20,1-2,0
Apple: 25,1-1,0
String: 30,1-10,0
Feather: 30,1-10,0
Gunpowder: 20,1-10,0
Fishing Rod: 20,1-1,0
Bow: 10,1-1,0
Iron Ingot: 30,1-10,0
Flint: 30,1-10,0
Rose Red: 10,1-5,0
Cactus Green: 10,1-5,0
Pink Dye: 10,1-5,0
Lime Dye: 10,1-5,0
Dandelion Yellow: 10,1-5,0
Bone Meal: 10,1-5,0
Leather Helmet: 50,1-1,0
Iron Chestplate: 50,1-1,0
Leather Leggings: 50,1-1,0
Iron Boots: 50,1-1,0

[tier3]
Torch: 100,15-40,0
Arrow: 100,15-40,0
Wheat: 50,3-9,0
Brown Mushroom: 50,1-3,0
Red Mushroom: 50,1-3,0
Cooked Fish: 20,1-2,0
Apple: 25,1-1,0
Golden Apple: 5,1-1,0
String: 30,1-10,0
Feather: 30,1-10,0
Pumpkin Seeds: 15,1-1,0
Melon Seeds: 15,1-1,0
Gunpowder: 20,1-10,0
Bow: 10,1-1,0
Fishing Rod: 20,1-1,0
Iron Ingot: 30,1-10,0
Flint: 30,1-10,0
Ink Sac: 10,1-5,0
Rose Red: 10,1-5,0
Cactus Green: 10,1-5,0
Light Gray Dye: 10,1-5,0
Gray Dye: 10,1-5,0
Pink Dye: 10,1-5,0
Lime Dye: 10,1-5,0
Dandelion Yellow: 10,1-5,0
Magenta Dye: 10,1-5,0
Orange Dye: 10,1-5,0
Bone Meal: 10,1-5,0
Iron Sword: 10,1-1,0
Iron Shovel: 10,1-1,0
Iron Pickaxe: 10,1-1,0
Iron Axe: 10,1-1,0
Iron Helmet: 10,1-1,0
Iron Chestplate: 10,1-1,0
Iron Leggings: 10,1-1,0
Iron Boots: 10,1-1,0

[tier4]
Gold Music Disc: 10,1-1,0
Green Music Disc: 10,1-1,0
Golden Apple: 25,1-2,0
Diamond: 40,1-10,0
Pumpkin Seeds: 15,1-1,0
Melon Seeds: 15,1-1,0
Gold Ingot: 40,1-10,0
Iron Ingot: 40,1-10,0
Clay Brick: 40,1-20,0
Saddle: 25,1-1,0
Clock: 25,1-1,0
Ink Sac: 10,1-10,0
Rose Red: 10,1-10,0
Cactus Green: 10,1-10,0
Cocoa Beans: 10,1-10,0
Lapis Lazuli: 10,1-10,0
Purple Dye: 10,1-10,0
Cyan Dye: 10,1-10,0
Light Gray Dye: 10,1-10,0
Gray Dye: 10,1-10,0
Pink Dye: 10,1-10,0
Lime Dye: 10,1-10,0
Dandelion Yellow: 10,1-10,0
Light Blue Dye: 10,1-10,0
Magenta Dye: 10,1-10,0
Orange Dye: 10,1-10,0
Bone Meal: 10,1-10,0
Ender Pearl: 25,1-2,0
Diamond Sword: 25,1-1,0
Diamond Shovel: 25,1-1,0
Diamond Pickaxe: 25,1-1,0
Diamond Axe: 25,1-1,0
Diamond Helmet: 25,1-1,0
Diamond Chestplate: 25,1-1,0
Diamond Leggings: 25,1-1,0
Diamond Boots: 25,1-1,0
Bow,Iron Sword,Diamond Sword,Gold Sword,Iron Axe,Diamond Axe,Gold Axe,Iron Pickaxe,Diamond Pickaxe,Gold Pickaxe,Iron Shovel,Diamond Shovel,Gold Shovel: 75,1,level*4
Iron Helmet,Diamond Helmet,Gold Helmet,Iron Chestplate,Diamond Chestplate,Gold Chestplate,Iron Leggings,Diamond Leggings,Gold Leggings,Iron Boots,Diamond Boots,Gold Boots: 75,1,level*4
Spawn Blaze: 10,1-2,0
Spawn Cave Spider: 10,1-2,0
Spawn Chicken: 10,1-2,0
Spawn Cow: 10,1-2,0
Spawn Creeper: 10,1-2,0
Spawn Enderman: 10,1-2,0
Spawn Ghast: 10,1-2,0
Spawn Magma Cube: 10,1-2,0
Spawn Mooshroom: 10,1-2,0
Spawn Pig Zombie: 10,1-2,0
Spawn Pig: 10,1-2,0
Spawn Skeleton: 10,1-2,0
Spawn Sheep: 10,1-2,0
Spawn Silverfish: 10,1-2,0
Spawn Slime: 10,1-2,0
Spawn Spider: 10,1-2,0
Spawn Squid: 10,1-2,0
Spawn Villager: 10,1-2,0
Spawn Wolf: 10,1-2,0
Spawn Zombie: 10,1-2,0

