# MCDungeon configuration file
#
# An example of using hard mode.
# This also has fewer toches, doors, and more creepers. Hard mode requires a
# lot of space, so make sure your map is large enough. 
#
[dungeon]
loops: 20
min_dist: 0
max_dist: 50
maximize_distance: True
offset: 
tower: 2.0
tower_ruin: 80
ruin_ruins: True
doors: 10
portcullises: 25
portcullis_closed: 5
portcullis_web: 5
torches_top: 10
torches_bottom: 0
torches_position: 3
chests: 0.5
spawners: 3.0
arrow_traps: 3
arrow_trap_defects: 10
hall_piston_traps: 80
resetting_hall_pistons: True
skeleton_balconies: 80
sand_traps: 60
hard_mode: true
wall: meta_stonedungeon
secret_door: meta_stonedungeon
ceiling: meta_mossycobble
floor: stone
subfloor: bedrock
mvportal: 
structures: Torch, Glass, Redstone Torch, Redstone Torch Off, Glowstone Block, Portal
secret_rooms: 100
silverfish: 100

[rooms]
Basic: 8
Basic2x2: 2
Corridor: 8
Circular: 8
Pit: 1
CircularPit: 1
SandstoneCavern: 0
SandstoneCavernLarge: 2
NaturalCavern: 0
NaturalCavernLarge: 2
Cavern: 0
CavernLarge: 2
CellBlock: 1

[halls]
Single: 2
Double: 2
Triple: 1
Four: 1
Ten: 1

[floors]
Blank: 2
Cobble: 1
BrokenCobble: 3
WoodTile: 1
CheckerRug: 1
BrokenCheckerRug: 3
DoubleSlab: 1
BrokenDoubleSlab: 3
Mud: 3
Sand: 3

[features]
Arcane: 1
Blank: 5
Columns: 7
Chasm: 2
Dais: 3
Forge: 2
LavaChasm: 2
Mushrooms: 1
Pool: 3
River: 2

[ruins]
Blank: 3
CircularTower: 1
SquareTower: 1
Arches: 1

[entrances]
SquareTowerEntrance: 1
RuinedSquareTowerEntrance: 1
RoundTowerEntrance: 1
RuinedRoundTowerEntrance: 1
StepPyramid: 2
EvilRunestones: 2

[treasure rooms]
Arena: 1
PitWithArchers: 1
ThroneRoom: 2
SpiderLair: 1

[mobs]
Creeper: 10
Skeleton: 10
Spider: 5
Zombie: 5
Monster: 1
Slime: 0
PigZombie: 0
Wolf: 0

[tier0]
Torch: 100,5,20
Arrow: 100,5,30
Compass: 25,1,1
Wheat: 20,3,9
Bread: 100,1,3
Bow: 35,1,1
Stone Sword: 90,1,2
Stone Shovel: 50,1,1
Stone Pickaxe: 80,1,1
Stone Axe: 50,1,1
Leather Helmet: 50,1,2
Leather Chestplate: 50,1,2
Leather Leggings: 50,1,2
Leather Boots: 50,1,2

[tier1]
Torch: 100,5,20
Arrow: 100,5,30
Compass: 20,1,1
Wheat: 20,3,9
Brown Mushroom: 10,1,3
Red Mushroom: 10,1,3
Cooked Fish: 10,1,2
Bow: 10,1,1
Bread: 25,1,1
Apple: 25,1,2
Stone Sword: 50,1,1
Stone Shovel: 50,1,1
Stone Pickaxe: 50,1,1
Stone Axe: 50,1,1
Leather Helmet: 50,1,1
Leather Chestplate: 50,1,1
Leather Leggings: 50,1,1
Leather Boots: 50,1,1

[tier2]
Torch: 100,15,40
Arrow: 100,15,40
Wheat: 10,3,9
Brown Mushroom: 10,1,3
Red Mushroom: 10,1,3
Cooked Fish: 10,1,2
Apple: 5,1,1
String: 30,1,10
Feather: 30,1,10
Gunpowder: 20,1,10
Fishing Rod: 20,1,1
Bow: 10,1,1
Iron Ingot: 30,1,10
Flint: 30,1,10
Rose Red: 10,1,5
Cactus Green: 10,1,5
Pink Dye: 10,1,5
Lime Dye: 10,1,5
Dandelion Yellow: 10,1,5
Bone Meal: 10,1,5
Leather Helmet: 50,1,1
Iron Chestplate: 50,1,1
Leather Leggings: 50,1,1
Iron Boots: 50,1,1

[tier3]
Torch: 100,15,40
Arrow: 100,15,40
Wheat: 10,3,9
Brown Mushroom: 10,1,3
Red Mushroom: 10,1,3
Cooked Fish: 10,1,2
Apple: 5,1,1
String: 30,1,10
Feather: 30,1,10
Pumpkin Seeds: 15,1,1
Melon Seeds: 15,1,1
Gunpowder: 20,1,10
Bow: 10,1,1
Fishing Rod: 20,1,1
Iron Ingot: 30,1,10
Flint: 30,1,10
Ink Sac: 10,1,5
Rose Red: 10,1,5
Cactus Green: 10,1,5
Light Gray Dye: 10,1,5
Gray Dye: 10,1,5
Pink Dye: 10,1,5
Lime Dye: 10,1,5
Dandelion Yellow: 10,1,5
Magenta Dye: 10,1,5
Orange Dye: 10,1,5
Bone Meal: 10,1,5
Iron Sword: 10,1,1
Iron Shovel: 10,1,1
Iron Pickaxe: 10,1,1
Iron Axe: 10,1,1
Iron Helmet: 10,1,1
Iron Chestplate: 10,1,1
Iron Leggings: 10,1,1
Iron Boots: 10,1,1

[tier4]
Gold Music Disc: 10,1,1
Green Music Disc: 10,1,1
Golden Apple: 25,1,2
Diamond: 40,1,10
Pumpkin Seeds: 15,1,1
Melon Seeds: 15,1,1
Gold Ingot: 40,1,10
Iron Ingot: 40,1,10
Clay Brick: 40,1,20
Saddle: 25,1,1
Clock: 25,1,1
Ink Sac: 10,1,10
Rose Red: 10,1,10
Cactus Green: 10,1,10
Cocoa Beans: 10,1,10
Lapis Lazuli: 10,1,10
Purple Dye: 10,1,10
Cyan Dye: 10,1,10
Light Gray Dye: 10,1,10
Gray Dye: 10,1,10
Pink Dye: 10,1,10
Lime Dye: 10,1,10
Dandelion Yellow: 10,1,10
Light Blue Dye: 10,1,10
Magenta Dye: 10,1,10
Orange Dye: 10,1,10
Bone Meal: 10,1,10
Ender Pearl: 25,1,2
Diamond Sword: 25,1,1
Diamond Shovel: 25,1,1
Diamond Pickaxe: 25,1,1
Diamond Axe: 25,1,1
Diamond Helmet: 25,1,1
Diamond Chestplate: 25,1,1
Diamond Leggings: 25,1,1
Diamond Boots: 25,1,1
