# MCDungeon configuration file
#
# This prodiuce more confusing mazes
#
[dungeon]
loops: 40
min_dist: 0
max_dist: 16
maximize_distance: True
offset: 
tower: 2.0
tower_ruin: 80
ruin_ruins: True
doors: 25
portcullises: 25
portcullis_closed: 10
portcullis_web: 10
torches_top: 80
torches_bottom: 10
torches_position: 3
chests: 0.5
spawners: 1.0
arrow_traps: 3
arrow_trap_defects: 2
hall_piston_traps: 30
resetting_hall_pistons: True
skeleton_balconies: 80
sand_traps: 60
hard_mode: false
wall: meta_stonedungeon
secret_door: meta_stonedungeon
ceiling: meta_mossycobble
floor: stone
subfloor: bedrock
mvportal: 
structures: Torch, Glass, Redstone Torch, Redstone Torch Off, Glowstone Block, Portal
secret_rooms: 100
silverfish: 10

[rooms]
Basic: 40
Basic2x2: 10
Corridor: 150
Circular: 40
Pit: 10
CircularPit: 10
SandstoneCavern: 00
SandstoneCavernLarge: 10
NaturalCavern: 00
NaturalCavernLarge: 10
Cavern: 00
CavernLarge: 10
CellBlock: 10
GreatHallNS: 5
GreatHallEW: 5


[halls]
Single: 20
Double: 20
Triple: 10
Four: 10
Ten: 10

[floors]
Blank: 20
Cobble: 10
BrokenCobble: 30
WoodTile: 10
CheckerRug: 10
BrokenCheckerRug: 30
DoubleSlab: 10
BrokenDoubleSlab: 30
Mud: 30
Sand: 30
StoneBrick: 10
BrokenStoneBrick: 30

[features]
Arcane: 10
Blank: 50
Columns: 70
Chasm: 20
Dais: 30
Forge: 20
LavaChasm: 20
Mushrooms: 10
Pool: 30
River: 20

[ruins]
Blank: 30
CircularTower: 10
SquareTower: 10
Arches: 10

[entrances]
SquareTowerEntrance: 10
RuinedSquareTowerEntrance: 10
RoundTowerEntrance: 10
RuinedRoundTowerEntrance: 10
StepPyramid: 10
EvilRunestones: 20

[mobs]
Creeper: 10
Skeleton: 50
Spider: 50
Zombie: 50
CaveSpider: 10
Slime: 0
PigZombie: 0
Wolf: 0

[treasure rooms]
Arena: 10
Crypt: 30
PitWithArchers: 10
ThroneRoom: 30
SpiderLair: 10
EndPortal: 20

[tier0]
Torch: 100,5-20,0
Arrow: 100,5-30,0
Compass: 25,1-1,0
Bowl: 90,1-2,0
Wheat: 20,3-9,0
Brown Mushroom: 50,1-3,0
Red Mushroom: 50,1-3,0
Bread: 100,1-3,0
Bow: 35,1,0
Stone Sword: 90,1-2,0
Stone Shovel: 50,1,0
Stone Pickaxe: 80,1,0
Stone Axe: 50,1,0
Leather Helmet: 50,1-2,0
Leather Chestplate: 50,1-2,0
Leather Leggings: 50,1-2,0
Leather Boots: 50,1-2,0
Bow,Wooden Sword,Stone Sword,Wooden Axe,Stone Axe,Wooden Pickaxe,Stone Pickaxe: 20,1,1-5
Leather Helmet,Leather Chestplate,Leather Leggings,Leather Boots: 20,1,1-5

[tier1]
Torch: 100,5-20,0
Arrow: 100,5-30,0
Compass: 20,1-1,0
Wheat: 50,3-9,0
Brown Mushroom: 50,1-3,0
Red Mushroom: 50,1-3,0
Cooked Fish: 20,1-2,0
Bow: 10,1-1,0
Bread: 25,1-1,0
Apple: 25,1-2,0
Stone Sword: 50,1-1,0
Stone Shovel: 50,1-1,0
Stone Pickaxe: 50,1-1,0
Stone Axe: 50,1-1,0
Leather Helmet: 50,1-1,0
Leather Chestplate: 50,1-1,0
Leather Leggings: 50,1-1,0
Leather Boots: 50,1-1,0

[tier2]
Torch: 100,15-40,0
Arrow: 100,15-40,0
Wheat: 50,3-9,0
Brown Mushroom: 50,1-3,0
Red Mushroom: 50,1-3,0
Cooked Fish: 20,1-2,0
Apple: 25,1-1,0
String: 30,1-10,0
Feather: 30,1-10,0
Gunpowder: 20,1-10,0
Fishing Rod: 20,1-1,0
Bow: 10,1-1,0
Iron Ingot: 30,1-10,0
Flint: 30,1-10,0
Rose Red: 10,1-5,0
Cactus Green: 10,1-5,0
Pink Dye: 10,1-5,0
Lime Dye: 10,1-5,0
Dandelion Yellow: 10,1-5,0
Bone Meal: 10,1-5,0
Leather Helmet: 50,1-1,0
Iron Chestplate: 50,1-1,0
Leather Leggings: 50,1-1,0
Iron Boots: 50,1-1,0

[tier3]
Torch: 100,15-40,0
Arrow: 100,15-40,0
Wheat: 50,3-9,0
Brown Mushroom: 50,1-3,0
Red Mushroom: 50,1-3,0
Cooked Fish: 20,1-2,0
Apple: 25,1-1,0
Golden Apple: 5,1-1,0
String: 30,1-10,0
Feather: 30,1-10,0
Pumpkin Seeds: 15,1-1,0
Melon Seeds: 15,1-1,0
Gunpowder: 20,1-10,0
Bow: 10,1-1,0
Fishing Rod: 20,1-1,0
Iron Ingot: 30,1-10,0
Flint: 30,1-10,0
Ink Sac: 10,1-5,0
Rose Red: 10,1-5,0
Cactus Green: 10,1-5,0
Light Gray Dye: 10,1-5,0
Gray Dye: 10,1-5,0
Pink Dye: 10,1-5,0
Lime Dye: 10,1-5,0
Dandelion Yellow: 10,1-5,0
Magenta Dye: 10,1-5,0
Orange Dye: 10,1-5,0
Bone Meal: 10,1-5,0
Iron Sword: 10,1-1,0
Iron Shovel: 10,1-1,0
Iron Pickaxe: 10,1-1,0
Iron Axe: 10,1-1,0
Iron Helmet: 10,1-1,0
Iron Chestplate: 10,1-1,0
Iron Leggings: 10,1-1,0
Iron Boots: 10,1-1,0

[tier4]
Gold Music Disc: 10,1-1,0
Green Music Disc: 10,1-1,0
Golden Apple: 25,1-2,0
Diamond: 40,1-10,0
Pumpkin Seeds: 15,1-1,0
Melon Seeds: 15,1-1,0
Gold Ingot: 40,1-10,0
Iron Ingot: 40,1-10,0
Clay Brick: 40,1-20,0
Saddle: 25,1-1,0
Clock: 25,1-1,0
Ink Sac: 10,1-10,0
Rose Red: 10,1-10,0
Cactus Green: 10,1-10,0
Cocoa Beans: 10,1-10,0
Lapis Lazuli: 10,1-10,0
Purple Dye: 10,1-10,0
Cyan Dye: 10,1-10,0
Light Gray Dye: 10,1-10,0
Gray Dye: 10,1-10,0
Pink Dye: 10,1-10,0
Lime Dye: 10,1-10,0
Dandelion Yellow: 10,1-10,0
Light Blue Dye: 10,1-10,0
Magenta Dye: 10,1-10,0
Orange Dye: 10,1-10,0
Bone Meal: 10,1-10,0
Ender Pearl: 25,1-2,0
Diamond Sword: 25,1-1,0
Diamond Shovel: 25,1-1,0
Diamond Pickaxe: 25,1-1,0
Diamond Axe: 25,1-1,0
Diamond Helmet: 25,1-1,0
Diamond Chestplate: 25,1-1,0
Diamond Leggings: 25,1-1,0
Diamond Boots: 25,1-1,0
Bow,Iron Sword,Diamond Sword,Gold Sword,Iron Axe,Diamond Axe,Gold Axe,Iron Pickaxe,Diamond Pickaxe,Gold Pickaxe,Iron Shovel,Diamond Shovel,Gold Shovel: 75,1,level*4
Iron Helmet,Diamond Helmet,Gold Helmet,Iron Chestplate,Diamond Chestplate,Gold Chestplate,Iron Leggings,Diamond Leggings,Gold Leggings,Iron Boots,Diamond Boots,Gold Boots: 75,1,level*4
Spawn Blaze: 10,1-2,0
Spawn Cave Spider: 10,1-2,0
Spawn Chicken: 10,1-2,0
Spawn Cow: 10,1-2,0
Spawn Creeper: 10,1-2,0
Spawn Enderman: 10,1-2,0
Spawn Ghast: 10,1-2,0
Spawn Magma Cube: 10,1-2,0
Spawn Mooshroom: 10,1-2,0
Spawn Pig Zombie: 10,1-2,0
Spawn Pig: 10,1-2,0
Spawn Skeleton: 10,1-2,0
Spawn Sheep: 10,1-2,0
Spawn Silverfish: 10,1-2,0
Spawn Slime: 10,1-2,0
Spawn Spider: 10,1-2,0
Spawn Squid: 10,1-2,0
Spawn Villager: 10,1-2,0
Spawn Wolf: 10,1-2,0
Spawn Zombie: 10,1-2,0

